Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gerty-e4s-21.11-ci, perlmutter-spack-develop, perlmutter-systemlayer-ci, perlmutter-e4s-21.11-ci, muller-e4s-21.11-ci

gerty-e4s-21.11-ci:
  stage: generate
  tags:
  - gerty-e4s
  script:
  - source setup-env.sh
  - git clone -b e4s-21.11 $SPACK_REPO
  - . spack/share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/cori-e4s-21.11/ci/gerty
  - spack concretize -f | tee $CI_PROJECT_DIR/concretize.log
  ...

perlmutter-spack-develop:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  script:
  - python3 -m venv $CI_PROJECT_DIR/spack-pyenv
  - source $CI_PROJECT_DIR/spack-pyenv/bin/activate
  - pip install clingo
  - which python && pip list
  - rm -rf ~/.spack/
  - export SPACK_DISABLE_LOCAL_CONFIG=true
  ...

perlmutter-systemlayer-ci:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  script:
  - source spack-configs/perlmutter-systemlayer/ci/setup.sh
  - spack concretize --reuse
  - spack install --reuse
  - spack find

perlmutter-e4s-21.11-ci:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  script:
  - source setup-env.sh
  - git clone -b e4s-21.11 $SPACK_REPO
  - . spack/share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-21.11/ci/
  ...

muller-e4s-21.11-ci:
  stage: build
  tags:
  - muller-e4s
  interruptible: true
  script:
  - source $CI_PROJECT_DIR/setup-env.sh
  - git clone -b e4s-21.11 $SPACK_REPO
  - . spack/share/spack/setup-env.sh
  - spack-python --path
  - cd $CI_PROJECT_DIR
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-21.11/ci/muller/
  ...

add abinit +wannier90 and valgrind for both spack@develop pipelines
  spack-configs/cori-spack-develop/spack.yaml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

Add WarpX/HiPACE++/openPMD
  spack-configs/cori-spack-develop/spack.yaml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

Add maintainers page
  MAINTAINERS.md
Due: none

update list of packages for perlmutter spack develop according to Brandon suggestions
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

Simplify Cori
  spack-configs/cori-spack-develop/spack.yaml
Due: none

Simplify Perlmutter
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

Perlmutter: Clean up CUDA specs
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

Add more maintainers
  MAINTAINERS.md
Due: none

update spack@develop pipeline for perlmutter
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

error in build_stage for perlmutter spack develop
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

remove perlmutter system layer pipeline
  .gitlab-ci.yml
  README.md
  spack-configs/perlmutter-systemlayer/ci/setup.sh
  spack-configs/perlmutter-systemlayer/ci/spack.yaml
  spack-configs/perlmutter-systemlayer/deploy.sh
  spack-configs/perlmutter-systemlayer/spack.yaml
Due: perlmutter-systemlayer-ci

add cori e4s/22.02 spack.yaml and update packages add gitlab job for gerty and cori e4s/22.02
  .gitlab-ci.yml
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  spack-configs/cori-e4s-22.02/ci/spack.yaml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

error in spack.yamls for cori/gerty
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  spack-configs/cori-e4s-22.02/ci/spack.yaml
Due: none

Update .gitlab-ci.yml, spack-configs/cori-e4s-22.02/ci/spack.yaml, spack-configs/cori-spack-develop/spack.yaml files
  .gitlab-ci.yml
  spack-configs/cori-e4s-22.02/ci/spack.yaml
  spack-configs/cori-spack-develop/spack.yaml
Due: none

update table entry for cori and gerty e4s/22.02
  .gitlab-ci.yml
  README.md
Due: none

add amgx and cp2k.
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

add spack install -y in all the jobs which will automatically assume yes when manual fetch prompt is required
  .gitlab-ci.yml
Due: none

remove arm-forge from spack@develop pipeline for perlmutter.
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

update spack.yaml: add E4S 22.02 CPU specs to $gcc_specs and $intel_specs
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

comment out %intel conflicts: dyninst, plasma, slate
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

gerty-e4s-22.02: git clone the e4s-22.02 branch of spack [ci skip]
  .gitlab-ci.yml
Due: none

plasma has inherent conflict with %intel
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

Update .gitlab-ci.yml, spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml files
  .gitlab-ci.yml
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

update package external and change compiler to gcc/11.2.0 for gerty spack configuration
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

fix bug, invalid gitlab pipeline
  .gitlab-ci.yml
Due: none

update gerty spack.yaml for e4s 22.02
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

fix bug in spack.yaml
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

use srun to parallelize spack install
  .gitlab-ci.yml
Due: none

fix gerty spack configuration by removing all packages that failed and documented error in spack.yaml
  .gitlab-ci.yml
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

add padded_length and sync spack.yaml with cori ci spack configuration. add spack buildcache list -Lv after pushing specs to buildcache
  .gitlab-ci.yml
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  spack-configs/cori-e4s-22.02/ci/spack.yaml
  spack-configs/cori-e4s-22.02/deploy.sh
Due: none

remove mirror before starting build to ensure CI job will build from source for e4s 22.02 stack.
  .gitlab-ci.yml
Due: none

update contributing guide
  CONTRIBUTING.md
  README.md
Due: none

Update spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml, .gitlab-ci.yml files
  .gitlab-ci.yml
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

sync cori e4s-22.02 production spack.yaml
  spack-configs/cori-e4s-22.02/spack.yaml
Due: none

Update spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

add sphinx documentation for project add requirements.txt used for building the docs add cori e4s 21.05 spack.yaml add page to documentation outlining all the spack configuration
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/spack_configs.rst
  spack-configs/cori-e4s-21.05/spack.yaml
Due: none

Update spack.yaml: prefer perl@5.32.0 due to issues with newer perl and %intel
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: none

Path conditions:
  gerty-e4s-21.11-ci: any of: spack-configs/cori-e4s-21.11/ci/gerty/spack.yaml
  perlmutter-spack-develop: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-systemlayer-ci: any of: spack-configs/perlmutter-systemlayer/ci/spack.yaml
  perlmutter-e4s-21.11-ci: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  muller-e4s-21.11-ci: any of: spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
