Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spack_training_check, sync_gitlab_runner, gerty-e4s-22.02, cori-e4s-22.02, perlmutter-spack-develop-ci-generate, perlmutter-spack-develop-ci-build, perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05, perlmutter-e4s-21.11, muller-e4s-21.11

Path conditions:
  spack_training_check: any of: docs/spack_training.rst
  sync_gitlab_runner: any of: restart-gitlab.sh
  gerty-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  cori-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/cori/spack.yaml
  perlmutter-spack-develop-ci-generate: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-spack-develop-ci-build: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-e4s-22.05-ci-generate: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  perlmutter-e4s-22.05-ci-build: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  muller-e4s-22.05: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  perlmutter-e4s-21.11: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  muller-e4s-21.11: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml

Update spack-configs/perlmutter-e4s-21.11/deploy.sh
  spack-configs/perlmutter-e4s-21.11/deploy.sh
Due: none

move content of deploy.sh into .gitlab-ci.yml
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-21.11/deploy.sh
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add spack view in 22.05 production deployment and run 'spack env view regenerate'
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

update the source mirror path to $CFS/m3503
  .gitlab-ci.yml
  spack-configs/cori-e4s-22.02/ci/spack.yaml
  spack-configs/cori-e4s-22.02/spack.yaml
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  spack-configs/perlmutter-e4s-21.11/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05, perlmutter-e4s-21.11, muller-e4s-21.11

forgot to update gerty spack configuration with mirrors
  spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
Due: gerty-e4s-22.02

rewrite a few lines, still don't see the error
  .gitlab-ci.yml
Due: none

print CI env variableds
  .gitlab-ci.yml
Due: none

remove install_tree from production path
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

removing root from spack.yaml in production e4s-21.11 stack
  spack-configs/perlmutter-e4s-21.11/spack.yaml
Due: none

add install_tree and root into the production e4s stacks
  spack-configs/perlmutter-e4s-21.11/spack.yaml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

remove mfem from e4s-22.05 stack
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

perlmutter user spack.yaml configuration template
  spack-configs/perlmutter-user-spack/spack.yaml
Due: none

add mirror perlmutter-spack-develop
  spack-configs/perlmutter-user-spack/spack.yaml
Due: none

Update restart-gitlab.sh
  restart-gitlab.sh
Due: sync_gitlab_runner

update logic for if condition when restart gitlab runner
  restart-gitlab.sh
Due: sync_gitlab_runner

fix #36
  docs/admin_docs.rst
Due: none

remove e4s-22.02 spack configuration for Perlmutter. This will fix #33
  spack-configs/perlmutter-e4s-22.02/spack.yaml
Due: none

remove cori spack develop configuration from documentation. fix typo in the module load statement for e4s/21.11. We only have one modulefile now. This will fix #34
  docs/spack_configs.rst
Due: none

remove cori spack develop spack configuration
  spack-configs/cori-spack-develop/spack.yaml
Due: none

add prototype for building a e4s 22.05 stack decomposed into multiple spack environments
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/decomposed/spack-cce.yaml
  spack-configs/perlmutter-e4s-22.05/decomposed/spack-gcc-cuda.yaml
  spack-configs/perlmutter-e4s-22.05/decomposed/spack-gcc.yaml
Due: none

adding lammps and xterm to e4s/22.05 spack configuration
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

add wannier90 and upcxx for e4s/22.05 stack
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

remove wannier90 and upcxx and add likwid
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

mfem and zfp with cuda build with e4s/22.05
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

add nano and ccache for e4s/22.05 build
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

add qbox to e4s/22.05
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

add a utilities definition in e4s/22.05 spack configuration to define most common utilities needed in linux environment.
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

remove qbox and install intel-mkl which already was installed since it was a dep of qbox
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

sync changes to production e4s/22.05 stack
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

add hpctoolkit with cuda and mpi for 22.05 stack
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

add py-libensemble package to e4s/22.05
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

add nwchem and quantum-espresso
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

Update settings/compilers.yaml, spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  settings/compilers.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

Update spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

update spack dependency script fix py-libensemble by building py-numpy without blas and lapack support. Trying nwchem with cray-libsci since intel-mkl is not working
  check_spack_dependencies.sh
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05-ci-generate, perlmutter-e4s-22.05-ci-build, muller-e4s-22.05

sync specs to production e4s/22.05 stack
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

Update .gitlab-ci.yml, spack-configs/perlmutter-e4s-22.05/spack.yaml
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none
