Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spack_training_check, sync_gitlab_runner, gerty-e4s-22.02, cori-e4s-22.02, perlmutter-spack-develop, perlmutter-e4s-22.05-mvapich2, muller-e4s-22.05-mvapich2, perlmutter-e4s-22.05, muller-e4s-22.05, perlmutter-e4s-21.11, muller-e4s-21.11

spack_training_check:
  stage: build
  tags:
  - perlmutter-e4s
  script:
  - cd $CI_PROJECT_DIR
  - source setup-env.sh
  - git clone -b e4s-22.05 https://github.com/spack/spack.git
  - source spack/share/spack/setup-env.sh
  - spack --version
  - echo $SPACK_PYTHON
  - spack-python --path
  ...

sync_gitlab_runner:
  stage: sync_gitlab
  tags:
  - shell
  script:
  - cp $CI_PROJECT_DIR/restart-gitlab.sh ~/cron/restart-gitlab.sh

gerty-e4s-22.02:
  stage: build
  tags:
  - gerty-e4s
  interruptible: true
  script:
  - source setup-env.sh
  - git clone $SPACK_REPO --branch e4s-22.02
  - . spack/share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/cori-e4s-22.02/ci/gerty
  ...

cori-e4s-22.02:
  stage: build
  tags:
  - cori-e4s
  interruptible: true
  script:
  - source setup-env.sh
  - git clone $SPACK_REPO --branch e4s-22.02
  - . spack/share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/cori-e4s-22.02/ci/
  ...

perlmutter-spack-develop:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  script:
  - source setup-env.sh
  - spack_root=$CFS/m3503/spackstacks/perlmutter/spack-develop
  - rm -rf $spack_root
  - mkdir -p $spack_root
  - git clone $SPACK_REPO $spack_root/spack
  - . $spack_root/spack/share/spack/setup-env.sh
  ...

perlmutter-e4s-22.05-mvapich2:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  script:
  - set +e
  - source setup-env.sh
  - git clone -b e4s-22.05 $SPACK_REPO
  - cd spack
  - . share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-22.05-mvapich2/ci/
  ...

muller-e4s-22.05-mvapich2:
  stage: build
  tags:
  - muller-e4s
  interruptible: true
  script:
  - set +e
  - source setup-env.sh
  - git clone -b e4s-22.05 $SPACK_REPO
  - cd spack
  - . share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-22.05-mvapich2/ci/
  ...

perlmutter-e4s-22.05:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  before_script:
  - - mkdir -p /global/common/software/spackecp/perlmutter/spack_settings
    - cp settings/* /global/common/software/spackecp/perlmutter/spack_settings/
  script:
  - set +e
  - source setup-env.sh
  - git clone -b e4s-22.05 $SPACK_REPO
  ...

muller-e4s-22.05:
  stage: build
  tags:
  - muller-e4s
  interruptible: true
  script:
  - set +e
  - source setup-env.sh
  - git clone -b e4s-22.05 $SPACK_REPO
  - cd spack
  - . share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-22.05/ci/
  ...

Update spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

Update .gitlab-ci.yml, spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml, spack-configs/perlmutter-spack-develop/spack.yaml
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

Update spack-configs/perlmutter-e4s-22.05/ci/spack.yaml, .gitlab-ci.yml
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

add reservation to 21.11 build
  .gitlab-ci.yml
Due: none

update locks: false in spack.yaml and fix bug in srun command
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11, muller-e4s-21.11

fix typo on srun reservation
  .gitlab-ci.yml
Due: none

rename spack_sanity -- add reframe test to docs
  .gitlab-ci.yml
  check_spack_dependencies.sh
  docs/admin_docs.rst
Due: none

Update spack-configs/perlmutter-e4s-22.05/ci/spack.yaml, spack-configs/perlmutter-e4s-22.05/spack.yaml, .gitlab-ci.yml
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

create symlink called 'default'
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

remove nvhpc from spack config
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11, muller-e4s-21.11

update needs for 'approve' to only run when perlmutter spack sanity check is run to completion. This causes issue when muller runner is not online
  .gitlab-ci.yml
Due: none

remove lines added to ci to get spack to register nvhpc@21.11
  .gitlab-ci.yml
Due: none

need to add `SPACK_GNUPGHOME` to get the gpg key used to install packages from buildcache
  .gitlab-ci.yml
Due: none

set reuse: false in concretizer setting
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

Update .gitlab-ci.yml, spack-configs/perlmutter-e4s-22.05/ci/spack.yaml, spack-configs/perlmutter-spack-develop/spack.yaml
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop, perlmutter-e4s-22.05, muller-e4s-22.05

testing pipeline trigger based on Merge Request Event
  .gitlab-ci.yml
Due: none

update spack training trigger to merge request event only
  .gitlab-ci.yml
Due: none

add source_mirror as a mirror name back in e4s-22.05 spack configuration. Also testing whether this pipeline will be triggered
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

force perlmutter and muller spack sanity jobs to always run regardless of state of previous jobs. The sync gitlab job didnt run that caused future jobs to not run
  .gitlab-ci.yml
Due: none

relocate content of anchors at top of file
  .gitlab-ci.yml
Due: none

move sync_gitlab stage to bottom of list
  .gitlab-ci.yml
Due: none

add allow_failure: false when running sanity check
  .gitlab-ci.yml
Due: none

add source_mirror in spack develop pipeline just to see if pipeline gets triggered
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

move allow_failure into job context and add 'export' to troubleshoot pipeline
  .gitlab-ci.yml
Due: none

remove set +e and the automatic symlink creation for production stack
  .gitlab-ci.yml
Due: none

remove nvhpc cherry pick patch and module support.
  spack-configs/perlmutter-e4s-21.11/deploy.sh
Due: none

update production spack.yaml
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  spack-configs/perlmutter-e4s-21.11/spack.yaml
Due: perlmutter-e4s-21.11, muller-e4s-21.11

Path conditions:
  spack_training_check: any of: docs/spack_training.rst
  sync_gitlab_runner: any of: restart-gitlab.sh
  gerty-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  cori-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/cori/spack.yaml
  perlmutter-spack-develop: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-e4s-22.05-mvapich2: any of: spack-configs/perlmutter-e4s-22.05-mvapich2/ci/spack.yaml
  muller-e4s-22.05-mvapich2: any of: spack-configs/perlmutter-e4s-22.05-mvapich2/ci/spack.yaml
  perlmutter-e4s-22.05: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  muller-e4s-22.05: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  perlmutter-e4s-21.11: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  muller-e4s-21.11: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
