Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gerty-e4s-22.02, cori-e4s-22.02, perlmutter-spack-develop, cori-spack-develop, perlmutter-e4s-21.11-ci, muller-e4s-21.11-ci

Path conditions:
  gerty-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  cori-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/cori/spack.yaml
  perlmutter-spack-develop: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  cori-spack-develop: any of: spack-configs/cori-spack-develop/spack.yaml
  perlmutter-e4s-21.11-ci: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  muller-e4s-21.11-ci: any of: spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml

update E4S 21.11 spack.yaml for Perlmutter [ci skip]
  spack-configs/perlmutter-e4s-21.11/spack.yaml
Due: none

Update E4S 21.11 for Perlmutter
  spack-configs/perlmutter-e4s-21.11/spack.yaml
Due: none

Update Perlmutter E4S 21.11 CI spack.yaml
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11-ci

Revert "Update E4S 21.11 for Perlmutter"
  spack-configs/perlmutter-e4s-21.11/spack.yaml
Due: none

Revert "update E4S 21.11 spack.yaml for Perlmutter [ci skip]"
  spack-configs/perlmutter-e4s-21.11/spack.yaml
Due: none

Update spack-configs/perlmutter-e4s-21.11/ci/spack.yaml, spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml files
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11-ci, muller-e4s-21.11-ci

no external gettext; uncomment: dyninst, tau, hypre+cuda, mfem+cuda [ci skip]
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11-ci

use external cub from cudatoolkit/11.5; uncomment raja in cuda_specs; comment out warpx due to fftw [ci skip]
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11-ci

add link to talk at SEA22
  docs/index.rst
Due: none

update runner tag for cori spack develop
  .gitlab-ci.yml
Due: none

update muller e4s-21.11 ci pipeline
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
Due: muller-e4s-21.11-ci

update e4s 21.11 muller gitlab job
  .gitlab-ci.yml
Due: none

update e4s 21.11 production spack.yaml and deployment script
  spack-configs/perlmutter-e4s-21.11/deploy.sh
  spack-configs/perlmutter-e4s-21.11/spack.yaml
Due: none

use $(spack arch) to fill name of tcl_root since this value changed from cray-sles15-zen2 to cray-sles15-zen3
  spack-configs/perlmutter-e4s-21.11/deploy.sh
Due: none

remote site_configs directory and use spack commands to auto generate site configuration files. This change was applied for e4s/21.11 for perlmutter deployment script.
  README.md
  spack-configs/perlmutter-e4s-21.11/deploy.sh
  spack-configs/perlmutter-e4s-21.11/site_config/compilers.yaml
  spack-configs/perlmutter-e4s-21.11/site_config/config.yaml
  spack-configs/perlmutter-e4s-21.11/site_config/packages.yaml
Due: none

add link to video for SEA UCAR 22 talk
  docs/index.rst
Due: none

update spack develop spack.yaml for perlmutter
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

concretization conflict when using dpcpp +cuda
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

creating new directory for perlmutter-e4s-22.05 with an empty spack.yaml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

copying e4s spack.yaml from https://github.com/E4S-Project/e4s/blob/master/environments/22.05/cuda-x86_64.spack.yaml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

update spack.yaml for E4S 22.05
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

add gitlab for perlmutter-e4s-22.05 CI pipeline
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

error in spack.yaml for E4S 22.05 for Perlmutter
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

remove gcc and nvhpc externals from 22.05 stack since we wont deploy lmod generated modules
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

adding more packages with nersc_specs definition for e4s 22.05 on Perlmutter
  spack-configs/perlmutter-e4s-21.11/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

add Perlmutter E4S 22.05 entry
  README.md
Due: none

Update spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

Update spack-configs/perlmutter-e4s-22.06/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

add gitlab for muller-e4s-22.05 pipeline.
  .gitlab-ci.yml
Due: none

add spack-configs/perlmutter-e4s-22.05/ci/muller/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/muller/spack.yaml
Due: none

Updated nvhpc in spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

add cray-pmi external in e4s/22.05
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

add gcc@10.3.0 compiler and build packages via mvapich2
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

Update spack-configs/perlmutter-e4s-22.05/ci/muller/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/muller/spack.yaml
Due: none
