Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: perlmutter-spack-develop-generate, perlmutter-spack-develop-build, perlmutter-systemlayer-ci, perlmutter-e4s-21.11-ci

perlmutter-spack-develop-generate:
  stage: generate
  tags:
  - perlmutter-login21
  interruptible: true
  script:
  - python3 -m venv $CI_PROJECT_DIR/spack-pyenv
  - source $CI_PROJECT_DIR/spack-pyenv/bin/activate
  - pip install clingo
  - which python && pip list
  - rm -rf ~/.spack/
  - export SPACK_DISABLE_LOCAL_CONFIG=true
  - git clone $SPACK_REPO
  ...

perlmutter-spack-develop-build:
  stage: build
  trigger:
    include:
    - artifact: jobs_scratch_dir/pipeline.yml
      job: perlmutter-spack-develop-generate
    strategy: depend

perlmutter-systemlayer-ci:
  stage: build
  tags:
  - perlmutter-login21
  interruptible: true
  script:
  - source spack-configs/perlmutter-systemlayer/ci/setup.sh
  - spack concretize --reuse
  - spack install --reuse
  - spack find

perlmutter-e4s-21.11-ci:
  stage: build
  tags:
  - perlmutter-login21
  interruptible: true
  script:
  - source $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-21.11/ci/setup.sh
  - spack concretize -f | tee $CI_PROJECT_DIR/concretize.log
  - spack install
  - spack find
  artifacts:
    paths:
    - $CI_PROJECT_DIR/concretize.log

add strumpack, sundials and superlu-dist package along with preferred variants for building the package
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
Due: none

add petsc slepc and upcxx spec installs for muller e4s/21.11. set default variants for petsc and strumpack
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
Due: none

update muller spack configuration with few more packages including adios2, amrex, wannier90, plumed, trilinos
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
Due: none

adding amrex with cuda support. Need to this out since cuda support is not working
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
Due: none

sync muller spack.yaml with perlmutter spack.yaml for e4s/21.11 remove cuda specs for time being since we are having trouble building these
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11-ci

error in spack.yaml
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11-ci

add cuda enabled with gcc and nvhpc stack. create module section for tcl and lmod add cray-mpich, gcc, nvhpc as spack package to be installed in order to generate modules
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11-ci

update CI file to regenerate modules for tcl and lmod for e4s/21.11 and see content of each tree
  .gitlab-ci.yml
Due: none

remove mirrors.yaml since we dont have one setup for buildcache
  spack-configs/perlmutter-e4s-21.11/site_config/mirrors.yaml
Due: none

clean up scripts that are not used for e4s/21.11.
  spack-configs/perlmutter-e4s-21.11/deploy.sh
  spack-configs/perlmutter-e4s-21.11/get_spack.sh
  spack-configs/perlmutter-e4s-21.11/setup.sh
Due: none

update deploy.sh script and add setup spack scripts which are used for users to setup python environment which automatically installs clingo
  spack-configs/perlmutter-e4s-21.11/deploy.sh
  spack-configs/perlmutter-e4s-21.11/spack-setup.csh
  spack-configs/perlmutter-e4s-21.11/spack-setup.sh
Due: none

update README and mark e4s/21.11 complete
  README.md
Due: none

test gerty runner
  .gitlab-ci.yml
Due: none

initial prototype of gerty e4s 21.11 spack configuration add gitlab job to run CI for gerty e4s/21.11
  .gitlab-ci.yml
  spack-configs/cori-e4s-21.11/ci/gerty/spack.yaml
Due: none

update documentation
  README.md
Due: none

sync spack@develop pipeline to use setup provided by e4s/21.11 for perlmutter. We remove all the versions
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

Update spack-configs/perlmutter-spack-develop/spack.yaml, .gitlab-ci.yml files
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

try testing spack@develop with e4s-21.11 branch to
  .gitlab-ci.yml
Due: none

update PIPELINE_NAME condition to differentiate between the two spack develop pipelines
  .gitlab-ci.yml
Due: none

error in spack-develop pipeline
  .gitlab-ci.yml
Due: none

add more specs for cuda builds to spack@develop pipeline
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

update spack.yaml for perlmutter spack develop and comment out the spack ci pipeline
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

issue with cp2k cuda_arch=80 since its not supported yet.
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

update README and add CONTRIBUTING guide
  .gitignore
  .gitlab-ci.yml
  CONTRIBUTING.md
  README.md
Due: none

update spack develop pipeline to create environment
  .gitlab-ci.yml
Due: none

debug spack@develop pipeline to see if commands get logged to filesystem
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

fix spack@develop pipeline the log files need to be inside the spack directory and reinsert all the specs that were commented out
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

add amrex, kokkos, kokkos-kernels, petsc, raja specs for nvhpc builds add parallel package
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

fix concretization issue on spack-develop pipeline with kokkos using nvhpc due to multiple compilers specified on spec
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

Update README
  README.md
Due: none

update spack@develop pipeline
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

add cori-spack-develop pipeline and spack configuration with initial commit to install papi
  .gitlab-ci.yml
  spack-configs/cori-spack-develop/spack.yaml
Due: none

Add entry for CORI_SPACK_DEVELOP pipeline in README
  README.md
Due: none

fix bug in perlmutter spack@develop configuration which resulted in error when creating spack environment
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

update compilers to gcc@11.2.0
  spack-configs/cori-spack-develop/spack.yaml
Due: none

add hdf5,raja spec for cori-spack-develop and add cray-fftw external
  spack-configs/cori-spack-develop/spack.yaml
Due: none

install parallel
  spack-configs/cori-spack-develop/spack.yaml
Due: none

add additional packages for cori-spack-develop including some specs for intel compiler.
  spack-configs/cori-spack-develop/spack.yaml
Due: none

add py-warpx for gcc and cuda builds
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

Path conditions:
  perlmutter-spack-develop-generate: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-spack-develop-build: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-systemlayer-ci: any of: spack-configs/perlmutter-systemlayer/ci/spack.yaml
  perlmutter-e4s-21.11-ci: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
