Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spack_training_check, sync_gitlab_runner, gerty-e4s-22.02, cori-e4s-22.02, perlmutter-spack-develop, perlmutter-e4s-22.05-mvapich2, muller-e4s-22.05-mvapich2, perlmutter-e4s-22.05, muller-e4s-22.05, perlmutter-e4s-21.11, muller-e4s-21.11

spack_training_check:
  stage: build
  tags:
  - perlmutter-e4s
  script:
  - cd $CI_PROJECT_DIR
  - source setup-env.sh
  - git clone -b e4s-22.05 https://github.com/spack/spack.git
  - source spack/share/spack/setup-env.sh
  - spack --version
  - echo $SPACK_PYTHON
  - spack-python --path
  ...

sync_gitlab_runner:
  stage: sync_gitlab
  tags:
  - shell
  script:
  - cp $CI_PROJECT_DIR/restart-gitlab.sh ~/cron/restart-gitlab.sh

gerty-e4s-22.02:
  stage: build
  tags:
  - gerty-e4s
  interruptible: true
  script:
  - source setup-env.sh
  - git clone $SPACK_REPO --branch e4s-22.02
  - . spack/share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/cori-e4s-22.02/ci/gerty
  ...

cori-e4s-22.02:
  stage: build
  tags:
  - cori-e4s
  interruptible: true
  script:
  - source setup-env.sh
  - git clone $SPACK_REPO --branch e4s-22.02
  - . spack/share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/cori-e4s-22.02/ci/
  ...

perlmutter-spack-develop:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  script:
  - source setup-env.sh
  - spack_root=$CFS/m3503/spackstacks/perlmutter/spack-develop
  - rm -rf $spack_root
  - mkdir -p $spack_root
  - git clone $SPACK_REPO $spack_root/spack
  - . $spack_root/spack/share/spack/setup-env.sh
  ...

perlmutter-e4s-22.05-mvapich2:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  script:
  - set +e
  - source setup-env.sh
  - git clone -b e4s-22.05 $SPACK_REPO
  - cd spack
  - . share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-22.05-mvapich2/ci/
  ...

muller-e4s-22.05-mvapich2:
  stage: build
  tags:
  - muller-e4s
  interruptible: true
  script:
  - set +e
  - source setup-env.sh
  - git clone -b e4s-22.05 $SPACK_REPO
  - cd spack
  - . share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-22.05-mvapich2/ci/
  ...

perlmutter-e4s-22.05:
  stage: build
  tags:
  - perlmutter-e4s
  interruptible: true
  before_script:
  - - mkdir -p /global/common/software/spackecp/perlmutter/spack_settings
    - cp settings/* /global/common/software/spackecp/perlmutter/spack_settings/
  script:
  - set +e
  - source setup-env.sh
  - git clone -b e4s-22.05 $SPACK_REPO
  ...

muller-e4s-22.05:
  stage: build
  tags:
  - muller-e4s
  interruptible: true
  script:
  - set +e
  - source setup-env.sh
  - git clone -b e4s-22.05 $SPACK_REPO
  - cd spack
  - . share/spack/setup-env.sh
  - spack-python --path
  - spack env activate -d $CI_PROJECT_DIR/spack-configs/perlmutter-e4s-22.05/ci/
  ...

add 'approve' job as dependency for deployment pipelines
  .gitlab-ci.yml
Due: none

add e4s_21.11_build anchor for building muller and perlmutter jobs. Use srun to run jobs parallel
  .gitlab-ci.yml
Due: none

update srun line to use 2 nodes, 128 processors
  .gitlab-ci.yml
Due: none

update srun command
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add a default view to spack configuration for e4s 22.05
  spack-configs/perlmutter-e4s-22.05/dev/spack.yaml
Due: none

add srun for spack install for e4s 22.05 stack
  .gitlab-ci.yml
Due: none

add locks: false to disable filesystem locking
  spack-configs/perlmutter-e4s-22.05/dev/spack.yaml
Due: none

using slurm reservation spack_e4s for testing E4S 22.05 builds
  .gitlab-ci.yml
Due: none

convert E4S 22.05 pipeline to use spack ci
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

add artifacts in perlmutter-e4s-22.05-ci-generate job
  .gitlab-ci.yml
Due: none

fix path to where spack environment is being activated for e4s 22.05
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

Update spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

Update .gitlab-ci.yml, spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

change mirror to use file:/// to specify location of mirror
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: perlmutter-e4s-22.05, muller-e4s-22.05

Update spack-configs/perlmutter-spack-develop/spack.yaml, spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop, perlmutter-e4s-22.05, muller-e4s-22.05

Update spack-configs/perlmutter-e4s-22.05/ci/spack.yaml, spack-configs/perlmutter-spack-develop/spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop, perlmutter-e4s-22.05, muller-e4s-22.05

fix bug in CI file
  .gitlab-ci.yml
Due: none

remove module gen, compilers, and package config preferences.
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
Due: perlmutter-e4s-21.11, muller-e4s-21.11

Path conditions:
  spack_training_check: any of: docs/spack_training.rst
  sync_gitlab_runner: any of: restart-gitlab.sh
  gerty-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  cori-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/cori/spack.yaml
  perlmutter-spack-develop: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-e4s-22.05-mvapich2: any of: spack-configs/perlmutter-e4s-22.05-mvapich2/ci/spack.yaml
  muller-e4s-22.05-mvapich2: any of: spack-configs/perlmutter-e4s-22.05-mvapich2/ci/spack.yaml
  perlmutter-e4s-22.05: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  muller-e4s-22.05: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  perlmutter-e4s-21.11: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  muller-e4s-21.11: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
