Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: perlmutter-spack-develop-generate, perlmutter-spack-develop-build, perlmutter-systemlayer-ci, perlmutter-e4s-21.11-ci

.gitlab-ci.yml:

variables:
  SPACK_REPO: https://github.com/spack/spack.git
stages:
  - generate
  - build

perlmutter-spack-develop-generate:
  stage: generate
  tags: [perlmutter-login21]
  rules:
    - if: '($CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web") && $PIPELINE_NAME == "PERLMUTTER_SPACK_DEVELOP"' 
      changes:
      - spack-configs/perlmutter-spack-develop/spack.yaml
      when: always
      allow_failure: true
  script:
    - python3 -m venv $CI_PROJECT_DIR/spack-pyenv
    - source $CI_PROJECT_DIR/spack-pyenv/bin/activate
    - pip install clingo  
    - which python && pip list 
    - rm -rf ~/.spack/
    - export SPACK_DISABLE_LOCAL_CONFIG=true
    - git clone $SPACK_REPO
    - . spack/share/spack/setup-env.sh
    - cd $CI_PROJECT_DIR
    - spack env activate -d spack-configs/perlmutter-spack-develop    
    - spack concretize -f | tee ${CI_PROJECT_DIR}/concretize.log
    - spack ci generate --artifacts-root  "${CI_PROJECT_DIR}/jobs_scratch_dir" --output-file ${CI_PROJECT_DIR}/jobs_scratch_dir/pipeline.yml 
    #- spack concretize --reuse
    #- spack install --reuse
  after_script:
  - rm -rf $SPACK_ROOT
  artifacts:
    paths:
    - "${CI_PROJECT_DIR}/jobs_scratch_dir"
    - "${CI_PROJECT_DIR}/concretize.log"

perlmutter-spack-develop-build:  
  stage: build
  rules:
  - if: '($CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web") && $PIPELINE_NAME == "PERLMUTTER_SPACK_DEVELOP"' 
    changes:
      - spack-configs/perlmutter-spack-develop/spack.yaml
    when: always
    allow_failure: true
  trigger:
    include:
    - artifact: "jobs_scratch_dir/pipeline.yml"
      job: perlmutter-spack-develop-generate
    strategy: depend

perlmutter-systemlayer-ci:
  stage: build
  tags: [perlmutter-login21]
  interruptible: true
  rules:
    - if: '($CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web") && $PIPELINE_NAME == "PERLMUTTER_SYSTEM_LAYER"' 
      changes:
      - spack-configs/perlmutter-systemlayer/ci/spack.yaml
      when: always
      allow_failure: true
    - when: never
  script:
    - python3 -m venv $CI_PROJECT_DIR/spack-pyenv
    - source $CI_PROJECT_DIR/spack-pyenv/bin/activate    
    - pip install clingo 
    - which python && pip list  
    - rm -rf ~/.spack/
    - export SPACK_DISABLE_LOCAL_CONFIG=true
    - git clone -b e4s-21.11 $SPACK_REPO
    - . spack/share/spack/setup-env.sh
    - cd spack
    # need to set line below to cherry-pick commit
    - git config user.name 'e4s' 
    - git config user.email 'e4s@nersc.gov'
    # NVHPC 21.11 - https://github.com/spack/spack/pull/27910
    - git cherry-pick 5d6a9a7
    - cd $CI_PROJECT_DIR
    - spack env activate -d spack-configs/perlmutter-systemlayer/ci
    - spack concretize --reuse
    - spack install --reuse
    - spack find

perlmutter-e4s-21.11-ci:
  stage: build
  tags: [perlmutter-login21]
  interruptible: true
  rules:
    - if: '($CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "web") && $PIPELINE_NAME == "PERLMUTTER_E4S-21.11"' 
      changes:
      - spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
      when: always
      allow_failure: true
  script:
    - python3 -m venv $CI_PROJECT_DIR/spack-pyenv
    - source $CI_PROJECT_DIR/spack-pyenv/bin/activate    
    - pip install clingo  
    - which python && pip list      
    - rm -rf ~/.spack/
    - export SPACK_DISABLE_LOCAL_CONFIG=true
    - git clone -b e4s-21.11 $SPACK_REPO 
    - . spack/share/spack/setup-env.sh
    - cd $CI_PROJECT_DIR
    - spack env activate -d spack-configs/perlmutter-e4s-21.11/ci
    - spack concretize -f | tee $CI_PROJECT_DIR/concretize.log
    - spack install 
    - spack find
  
  artifacts:
    paths: [$CI_PROJECT_DIR/concretize.log]

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update spack-configs/perlmutter-systemlayer/ci/setup.sh, .gitlab-ci.yml files
  .gitlab-ci.yml
  spack-configs/perlmutter-systemlayer/ci/setup.sh
Due: none

Update spack-configs/perlmutter-systemlayer/ci/spack.yaml
  spack-configs/perlmutter-systemlayer/ci/spack.yaml
Due: perlmutter-systemlayer-ci

Update .gitlab-ci.yml, spack-configs/perlmutter-e4s-21.11/ci/setup.sh files
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-21.11/ci/setup.sh
Due: none

Update spack-configs/perlmutter-systemlayer/ci/setup.sh
  spack-configs/perlmutter-systemlayer/ci/setup.sh
Due: none

update README in table format for spack.yaml reference. Add E4S team as maintainers
  README.md
Due: none

adding Perlmutter E4S/21.11 configuration in table
  README.md
Due: none

Update spack-configs/perlmutter-spack-develop/spack.yaml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

update to git tag 0.17.1 when building system layer
  spack-configs/perlmutter-systemlayer/ci/setup.sh
Due: none

typo in tag name
  spack-configs/perlmutter-systemlayer/ci/setup.sh
Due: none

add netlibscalapack and mvapich2 to systemlayer
  spack-configs/perlmutter-systemlayer/ci/setup.sh
  spack-configs/perlmutter-systemlayer/ci/spack.yaml
Due: perlmutter-systemlayer-ci

Update .gitlab-ci.yml, spack-configs/perlmutter-spack-develop/spack.yaml files
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop-generate, perlmutter-spack-develop-build

Update spack-configs/perlmutter-systemlayer/ci/spack.yaml, spack-configs/perlmutter-systemlayer/ci/setup.sh files
  spack-configs/perlmutter-systemlayer/ci/setup.sh
  spack-configs/perlmutter-systemlayer/ci/spack.yaml
Due: perlmutter-systemlayer-ci

Update spack-configs/perlmutter-systemlayer/ci/spack.yaml, spack-configs/perlmutter-e4s-21.11/ci/spack.yaml files
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  spack-configs/perlmutter-systemlayer/ci/spack.yaml
Due: perlmutter-systemlayer-ci, perlmutter-e4s-21.11-ci

remove package preference for perl@5.33
  spack-configs/perlmutter-systemlayer/ci/spack.yaml
Due: perlmutter-systemlayer-ci

trigger pipeline on conditions
  .gitlab-ci.yml
Due: none

add recommendation for spack externals
  spack-externals.md
Due: none

Update spack-externals.md
  spack-externals.md
Due: none

add pipeline for perlmutter system deployment update spack.yaml for system layer deployment add deploy.sh script to run deployment script
  .gitlab-ci.yml
  spack-configs/perlmutter-systemlayer/deploy.sh
  spack-configs/perlmutter-systemlayer/get_spack.sh
  spack-configs/perlmutter-systemlayer/setup.sh
  spack-configs/perlmutter-systemlayer/spack.yaml
Due: none

add approve stage before running deployment
  .gitlab-ci.yml
Due: none

error in gitlab ci file
  .gitlab-ci.yml
Due: none

missing runner for approval job
  .gitlab-ci.yml
Due: none

create spack environment for systemlayer in production deployment add spack find and output of ml av to see generated modules for systemlayer
  spack-configs/perlmutter-systemlayer/deploy.sh
  spack-configs/perlmutter-systemlayer/get_spack.sh
Due: none

fix deployment script for systemlayer
  spack-configs/perlmutter-systemlayer/deploy.sh
Due: none

using wrong spack.yaml for deployment process
  spack-configs/perlmutter-systemlayer/deploy.sh
Due: none

update README with explanation for PIPELINE_NAME
  README.md
Due: none

test muller runner with simple example job
  .gitlab-ci.yml
Due: none

add documentation for troubleshooting runners and add muller runner name in docs
  README.md
Due: none

adding muller CI job for e4s/21.11 with a spack.yaml add setup-env.sh script that provisions a python environment to ensure we have clean environment when building stack
  .gitlab-ci.yml
  setup-env.sh
  spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml
Due: none
