Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gerty-e4s-22.02, cori-e4s-22.02, perlmutter-spack-develop, cori-spack-develop, perlmutter-e4s-21.11-ci, muller-e4s-21.11-ci

Path conditions:
  gerty-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/gerty/spack.yaml
  cori-e4s-22.02: any of: spack-configs/cori-e4s-22.02/ci/cori/spack.yaml
  perlmutter-spack-develop: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  cori-spack-develop: any of: spack-configs/cori-spack-develop/spack.yaml
  perlmutter-e4s-21.11-ci: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  muller-e4s-21.11-ci: any of: spack-configs/perlmutter-e4s-21.11/ci/muller/spack.yaml

rephrase sentence for SLACK_WEBHOOK
  README.md
Due: none

include 22.05 spack.yaml in docs
  docs/spack_configs.rst
Due: none

edits
  docs/spack_configs.rst
Due: none

create administration docs, move slack webhook.
  README.md
  docs/admin_docs.rst
  docs/index.rst
Due: none

move additional content out of readme to admin guide
  README.md
  docs/admin_docs.rst
Due: none

perlmutter-e4s-21.11: change the cray-mpich module version
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  spack-configs/perlmutter-e4s-21.11/spack.yaml
Due: perlmutter-e4s-21.11-ci

add detail to Slack Webhook doc and fix html link
  docs/admin_docs.rst
Due: none

add a spack sanity check and corresponding gitlab file
  .gitlab-ci.yml
  spack_sanity.sh
Due: none

typo in compiler name its nvc++ and not nvc+
  spack_sanity.sh
Due: none

update spack sanity script there was a typo in module command.
  .gitlab-ci.yml
  spack_sanity.sh
Due: none

add 'set -xe' in the script to ensure script will behave regardless of how its run. Relocate gitlab job to top of file
  .gitlab-ci.yml
  spack_sanity.sh
Due: none

fix directory path and modulefile name for libfabric
  spack_sanity.sh
Due: none

create spack setting that will be used for perlmutter site scope
  settings/compilers.yaml
  settings/packages.yaml
Due: none

create hidden job copy_perlmutter_settings that will be used as part of before_script to ensure we can copy the configuration file to filesystem
  .gitlab-ci.yml
Due: none

fix bug in CI job
  .gitlab-ci.yml
Due: none

include spack settings into E4S 22.05 spack configuration instead of defining them in spack.yaml
  spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
Due: none

update package preference file for perlmutter
  settings/packages.yaml
Due: none

spack-configs: remove the xz external package
  spack-configs/cori-e4s-20.10/prod/spack.yaml
  spack-configs/cori-e4s-20.10/spack.yaml
  spack-configs/cori-spack-develop/spack.yaml
  spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  spack-configs/perlmutter-e4s-21.11/spack.yaml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop, cori-spack-develop, perlmutter-e4s-21.11-ci

update perlmutter spack develop spack configuration and gitlab job
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

use srun to parallelize spack builds
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

create directory for mirror
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

change to xfer qos
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

add gitlab job to use spack ci when building perlmutter spack develop
  .gitlab-ci.yml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

fix bug in CI file
  .gitlab-ci.yml
Due: none

add raja spec to spack@develop pipeline
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

Update spack-configs/perlmutter-spack-develop/spack.yaml
  spack-configs/perlmutter-spack-develop/spack.yaml
Due: perlmutter-spack-develop

troubleshoot spack@develop pipeline
  .gitlab-ci.yml
Due: none

remove mvapich2 spack configuration, update gitlab CI file and update README
  .gitlab-ci.yml
  README.md
  spack-configs/perlmutter-e4s-22.05-mvapich2/ci/spack.yaml
Due: none

create anchor .startup_modules used for creating a baseline module used for building the stack
  .gitlab-ci.yml
Due: none

fix bug in gitlab CI
  .gitlab-ci.yml
Due: none

create gitlab anchor .e4s_build to reuse code for both muller and perlmutter e4s-22.05 stack
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/spack-dev.yaml
  spack-configs/perlmutter-e4s-22.05/spack-prod.yaml
Due: none

do shallow clone with depth of 50 to speed up git clone step
  .gitlab-ci.yml
Due: none

Update spack-configs/perlmutter-e4s-22.05/dev/spack.yaml, spack-configs/perlmutter-e4s-22.05/spack.yaml, .gitlab-ci.yml
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/dev/spack.yaml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

add gitlab job to run spack sanity check on muller
  .gitlab-ci.yml
Due: none

update production spack e4s-22.05 configuration
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.05/spack.yaml
Due: none

add needs for perlmutter_spack_sanity for perlmutter jobs
  .gitlab-ci.yml
Due: none

update gitlab job names to 'perlmutter:spack_sanity' and 'muller:spack_sanity' also update the needs for all muller jobs. Add before_script for production pipelines
  .gitlab-ci.yml
Due: none

bug in gitlab CI. Fixed with lint check. Need quotes around 'needs' when using colon character
  .gitlab-ci.yml
Due: none
