Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spack_training_check, perlmutter-spack-develop-ci-generate, perlmutter-spack-develop-ci-build, perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build, perlmutter-e4s-22.11-generate, perlmutter-e4s-22.11-gcc-build, perlmutter-e4s-22.11-nvhpc-build, perlmutter-e4s-22.11-cuda-build, perlmutter-e4s-22.11-cce-build, perlmutter-e4s-22.05-generate, perlmutter-e4s-22.05-cce-build, perlmutter-e4s-22.05-gcc-build, perlmutter-e4s-22.05-nvhpc-build, perlmutter-e4s-22.05-cuda-build, muller-e4s-22.05, perlmutter-e4s-21.11, muller-e4s-21.11

Path conditions:
  spack_training_check: any of: docs/spack_training.rst
  perlmutter-spack-develop-ci-generate: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-spack-develop-ci-build: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-e4s-23.05-cce-generate: any of: spack-configs/perlmutter-e4s-23.05/cce/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-gcc-generate: any of: spack-configs/perlmutter-e4s-23.05/gcc/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-nvhpc-generate: any of: spack-configs/perlmutter-e4s-23.05/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-cuda-generate: any of: spack-configs/perlmutter-e4s-23.05/cuda/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-mathlibs-generate: any of: spack-configs/perlmutter-e4s-23.05/math-libs/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-data-generate: any of: spack-configs/perlmutter-e4s-23.05/data/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-gcc-build: any of: spack-configs/perlmutter-e4s-23.05/gcc/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-cce-build: any of: spack-configs/perlmutter-e4s-23.05/cce/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-nvhpc-build: any of: spack-configs/perlmutter-e4s-23.05/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-cuda-build: any of: spack-configs/perlmutter-e4s-23.05/cuda/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-mathlibs-build: any of: spack-configs/perlmutter-e4s-23.05/math-libs/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-data-build: any of: spack-configs/perlmutter-e4s-23.05/data/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-22.11-generate: any of: spack-configs/perlmutter-e4s-22.11/gcc/spack.yaml, spack-configs/perlmutter-e4s-22.11/cce/spack.yaml, spack-configs/perlmutter-e4s-22.11/cuda/spack.yaml, spack-configs/perlmutter-e4s-22.11/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.11-gcc-build: any of: spack-configs/perlmutter-e4s-22.11/gcc/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.11-nvhpc-build: any of: spack-configs/perlmutter-e4s-22.11/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.11-cuda-build: any of: spack-configs/perlmutter-e4s-22.11/cuda/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.11-cce-build: any of: spack-configs/perlmutter-e4s-22.11/cce/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.05-generate: any of: spack-configs/perlmutter-e4s-22.05/cce/spack.yaml, spack-configs/perlmutter-e4s-22.05/gcc/spack.yaml, spack-configs/perlmutter-e4s-22.05/cuda/spack.yaml, spack-configs/perlmutter-e4s-22.05/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  perlmutter-e4s-22.05-cce-build: any of: spack-configs/perlmutter-e4s-22.05/cce/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  perlmutter-e4s-22.05-gcc-build: any of: spack-configs/perlmutter-e4s-22.05/gcc/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  perlmutter-e4s-22.05-nvhpc-build: any of: spack-configs/perlmutter-e4s-22.05/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  perlmutter-e4s-22.05-cuda-build: any of: spack-configs/perlmutter-e4s-22.05/cuda/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  muller-e4s-22.05: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml
  perlmutter-e4s-21.11: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml
  muller-e4s-21.11: any of: spack-configs/perlmutter-e4s-21.11/ci/spack.yaml

remove script section from cce spack.yaml
  spack-configs/perlmutter-e4s-23.05/cce/spack.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-cce-build

disable all jobs except for cce
  .gitlab-ci.yml
Due: none

remove rules for cce-build job
  .gitlab-ci.yml
Due: none

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update file spack.yaml
  spack-configs/perlmutter-e4s-23.05/cce/spack.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-cce-build

add exit 0 in script section in spack.yaml and readd math-libs and nvhpc stack
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-23.05/cce/spack.yaml
  spack-configs/perlmutter-e4s-23.05/cuda/spack.yaml
  spack-configs/perlmutter-e4s-23.05/data/spack.yaml
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
  spack-configs/perlmutter-e4s-23.05/gcc/spack.yaml
  spack-configs/perlmutter-e4s-23.05/math-libs/spack.yaml
  spack-configs/perlmutter-e4s-23.05/nvhpc/spack.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

Update 3 files
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
  spack-configs/perlmutter-e4s-23.05/nvhpc/spack.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

comment out spack concretize command
  .gitlab-ci.yml
Due: none

Update file definitions.yaml
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

data, cuda, and gcc packages added to yaml
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

added generate jobs to cuda, gcc, and data
  .gitlab-ci.yml
Due: none

reduced the packages in gcc
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

initial commit for describing the spack infrastructure process
  README.md
  docs/index.rst
Due: none

add sections for modulefile, sharing spack configuration and public announcement
  README.md
Due: none

add content of modulefile for e4s
  README.md
Due: none

fix title headings
  README.md
Due: none

add How To page
  README.md
  docs/how_to.rst
  docs/index.rst
Due: none

fix issue with documentation build with some formatting issues
  docs/CONTRIBUTING.md
  docs/how_to.rst
  docs/index.rst
Due: none

add nersc_specs and tools definition. Create gitlab job and spack environment name 'tools'
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
  spack-configs/perlmutter-e4s-23.05/tools/spack.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

remove libpressio from list and document issue with concretization in cuda stack
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

add retry: 2 for all generate jobs
  .gitlab-ci.yml
Due: none

optimize gitlab jobs for E4S 22.05 stack
  .gitlab-ci.yml
Due: none

remove old gitlab jobs
  .gitlab-ci.yml
Due: none

optimize gitlab jobs to use extends for E4S 22.11 stack
  .gitlab-ci.yml
Due: none

typo in condition for PIPELINE_NAME in .perlmutter-e4s-22.11-generate job
  .gitlab-ci.yml
Due: none

fix issue with gitlab job after resolving conflicts. There was a typo in job name it must be hidden job
  .gitlab-ci.yml
Due: none

comment out hypre for cce build in e4s 22.05
  spack-configs/perlmutter-e4s-22.05/definitions.yaml
Due: perlmutter-e4s-22.05-generate, perlmutter-e4s-22.05-cce-build, perlmutter-e4s-22.05-gcc-build, perlmutter-e4s-22.05-nvhpc-build, perlmutter-e4s-22.05-cuda-build

comment out rules changes for tools stack to debug
  .gitlab-ci.yml
Due: none

add ccache
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

debug generated pipeline
  .gitlab-ci.yml
  pipeline.yml
Due: none

typo in dir name
  .gitlab-ci.yml
Due: none

name it pipeline.yml
  .gitlab-ci.yml
Due: none

Update file pipeline.yml
  pipeline.yml
Due: none

delete pipeline.yml used for troubleshooting and updated gitlab job back to what it originally was
  .gitlab-ci.yml
  pipeline.yml
Due: none

uncomment packages
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-cce-generate, perlmutter-e4s-23.05-gcc-generate, perlmutter-e4s-23.05-nvhpc-generate, perlmutter-e4s-23.05-cuda-generate, perlmutter-e4s-23.05-mathlibs-generate, perlmutter-e4s-23.05-data-generate, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build
